<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head> 

<body>
    <h1>Googol Results Page</h1>

    <p>Search results for "<span th:text="${query}"></span>":</p>

    <div>
        <p th:if="${results.empty}">No pages found.</p>
        <div th:unless="${results.empty}">
            <ul>
                <li th:each="page : ${results}">
                    <h3>
                        <a th:href="${page.url}" th:text="${page.title}">page_title</a>
                    </h3>
                    <p th:text="${page.summary}">page_summary</p>
                </li>
            </ul>
        </div>
    </div>

</body>

</html>